body {
    background-image: url("images/fire_niji.jpeg")!important;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 700px;
    width: auto;
}

h1{white-space: pre;
    font-size: 50px;
    font-family: 'ヒラギノ丸ゴ ProN';
    font-weight:bold;
    color: white;
    text-align: center;
    padding-top: 20px;

}

#youso{
    padding: 0 auto;
    text-align: center;
    display: flex;
    border: white;
    width: auto;
    height: 250px;
    padding: 0 auto;
    margin-left:  200px; /*枠の中央寄せのために適用*/

    
}

